<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<center>
  <h1>Your turn</h1>
  <form th:action="@{/index}" th:object="${playerMove}" method="post">
    <h2>Score:</h2>
    <p><input type="text" th:field="*{ok}" readonly /></p>
    <p>ok</p>
    <p><input type="text" th:field="*{total}" readonly /></p>
    <p>total</p>
    <h2>Position:</h2>
    <p><input type="text" th:field="*{position}" readonly /></p>
    <h2>Cards:</h2>
    <p><input type="text" th:field="*{card1Figure}" readonly /></p>
    <p><input type="text" th:field="*{card1Color}" readonly /></p>
    <p><input type="text" th:field="*{card2Figure}" readonly /></p>
    <p><input type="text" th:field="*{card2Color}" readonly /></p>
    <select th:field="*{move}">
      <option th:each="move: *{moves}" th:value="${move}" th:text="${move}"></option>
    </select>

    <p><input type="submit" value="Submit" /></p>
  </form>
</center>
</body>
</html>